<template>
  <div class="home">
    <div class="preload" style="display: none">
      <img :src="buildImgUrl(1)" />
      <img :src="buildImgUrl(2)" />
      <img :src="buildImgUrl(3)" />
      <img :src="buildImgUrl(4)" />
    </div>
    <div class="content_wrap">
      <div class="title_wrap">
        <h3 class="subtitle" :class="checkActive(activePage)">Explore</h3>
        <h1 class="title">Switzerland</h1>
        <button class="cta_btn" :class="checkActive(activePage)">BOOK NOW</button>
      </div>
      <transition name="fade">
        <img v-if="activePage == 1" :src="buildImgUrl(1)" alt class="bg_image" />
      </transition>
      <transition name="fade">
        <img v-if="activePage == 2" :src="buildImgUrl(2)" alt class="bg_image" />
      </transition>
      <transition name="fade">
        <img v-if="activePage == 3" :src="buildImgUrl(3)" alt class="bg_image" />
      </transition>
      <transition name="fade">
        <img v-if="activePage == 4" :src="buildImgUrl(4)" alt class="bg_image" />
      </transition>
    </div>

    <div class="social_media_icons">
      <a href="https://twitter.com/" target="blank">
        <img src="@/assets/social_media_icons/Twitter.svg" alt />
      </a>
      <a href="https://fb.com/" target="blank">
        <img src="@/assets/social_media_icons/FB.svg" alt />
      </a>
      <a href="https://instagram.com/" target="blank">
        <img src="@/assets/social_media_icons/IG.svg" alt />
      </a>
    </div>

    <div class="container">
      <h3>About</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non
        egestas nunc, eu porttitor sapien. Sed at velit enim. Ut iaculis quis ex
        non finibus. Nulla sit amet pellentesque erat, vitae fringilla orci. Nam
        ligula felis, rhoncus in commodo ac, sollicitudin id ipsum. Donec vitae
        vestibulum ex. Nullam vitae euismod nibh, ut pretium quam. Integer
        mollis mi quis dui semper, condimentum ultrices tellus sollicitudin.
      </p>
    </div>
    <pagination @pageSwitch="activePage = $event" :active="activePage" />
  </div>
</template>

<script>
import pagination from "@/components/pagination";
export default {
  data() {
    return {
      vw: Number,
      vh: Number,
      activePage: 1,
    };
  },
  components: {
    pagination,
  },
  methods: {
    checkActive(a) {
      if (a == 1) return "orange";
      else if (a == 2) return "teal";
      else if (a == 3) return "blue";
      else if (a == 4) return "brown";
      else return "";
    },
    buildImgUrl(name) {
      return require(`@/assets/bg${name}.png`);
    },
  },
  mounted() {
    this.vw = Math.max(
      document.documentElement.clientWidth || 0,
      window.innerWidth || 0
    );
    this.vh = Math.max(
      document.documentElement.clientHeight || 0,
      window.innerHeight || 0
    );

    setInterval(() => {
      if (this.activePage < 4) this.activePage++;
      else this.activePage = 1;
    }, 3000);
  },
  computed: {
    isMobile() {
      if (this.vw < 768) {
        return true;
      } else return false;
    },
  },
};
</script>

<style lang="scss" scoped>
.home {
  .content_wrap {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    // margin-top: -20px;
    // width: 580px;

    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .fade-enter-active {
      transition: all 1s ease-out;
    }
    .fade-leave-active {
      transition: all 1s ease-in;
    }
    .fade-enter,
    .fade-leave-to {
      opacity: 0;
    }
    h1 {
      font-weight: 900;
      font-size: 36px;
      line-height: 49px;
      text-transform: uppercase;
      color: #ffffff;
    }

    .title_wrap {
      margin: 0;
    }

    .cta_btn {
      // display: block;
      margin-top: 10px;
      background: rgba(255, 255, 255, 0.05);
      mix-blend-mode: normal;
      backdrop-filter: blur(2px);
      padding: 8px 25px;
      font-size: 10px;
      border: 1px solid #ffffff;
      color: #fff;
      border-radius: 6px;
      cursor: pointer;
      transition: all 250ms ease-out;

      &:hover {
        background: #fff;
        color: #2c3e50;

        &.orange {
          color: #643b22;
        }
        &.teal {
          color: #09524a;
        }
        &.blue {
          color: #1caadd;
        }
        &.brown {
          color: #a7470c;
        }
      }
    }
  }
}
.subtitle {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.16em;
  color: #14bcac;
  font-size: 14px;
  transition: all 0.25s ease-in;

  &.orange {
    color: #ff9d5f;
  }
  &.teal {
    color: #14bcac;
  }
  &.blue {
    color: #1caadd;
  }
  &.brown {
    color: #a7470c;
  }
}

.social_media_icons {
  display: none;
  position: absolute;
  left: 5vw;
  top: 90%;
  // display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(0, -50%);
  a {
    cursor: initial;
  }
  img {
    cursor: pointer;
    display: block;
    margin: 10px 0;
    padding: 10px;
    opacity: 0.6;
    transition: all 100ms ease-out;

    &:hover {
      opacity: 0.8;
    }
  }
}

.bg_image {
  transform: translateX(-45%);
  // width: 100%;
  object-fit: cover;
  position: absolute;
  // top: 0;
  left: 0;
  z-index: -1;
}

.container {
  display: none;
  position: absolute;
  bottom: 0;
  right: 50px;
  max-width: 25vw;
  min-width: 400px;
  padding: 35px 65px;
  background: rgba(255, 255, 255, 0.1);
  mix-blend-mode: normal;
  backdrop-filter: blur(5px);
  text-align: left;
  h3 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
  }
  p {
    margin-top: 10px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
  }
}
@media only screen and (min-width: 768px) {
  .bg_image {
    top: 0;
  }

  .subtitle {
    font-size: 24px;
  }
  .home {
    .social_media_icons {
      display: flex;
    }
    .content_wrap {
      h1 {
        font-size: 80px;
        line-height: 109px;
      }

      .cta_btn {
        margin-top: 0px;
        border: 1.5px solid #ffffff;
        font-size: 13px;
        display: block;
        margin-left: auto;
        padding: 12px 45px;
      }
    }
  }
}
@media only screen and (min-width: 1200px) {
  .bg_image {
    transform: translateX(0);
  }
  .home {
    .social_media_icons {
      display: flex;
      position: absolute;
      left: 60px;
      top: 50%;
      img {
        margin: 30px 0;
        padding: 10px;
      }
    }
    .container {
      display: initial;
    }
  }
}

@media only screen and (min-width: 1921px) {
  .bg_image {
    width: 100%;
  }
}
</style>
