<template>
  <div class="footer">
    <img src="@/assets/arrow.svg" class="left arrow" @click="lArrow" alt />
    <p :class="checkActive(1)" @click="switch_page(1)">01</p>
    <p :class="checkActive(2)" @click="switch_page(2)">02</p>
    <p :class="checkActive(3)" @click="switch_page(3)">03</p>
    <p :class="checkActive(4)" @click="switch_page(4)">04</p>
    <img src="@/assets/arrow.svg" class="right arrow" @click="rArrow" alt />
  </div>
</template>

<script>
export default {
  props: {
    active: {
      type: Number,
      default: 1,
    },
  },
  data() {
    return {};
  },
  methods: {
    checkActive(a) {
      if (a == this.active) return "sel";
      else return "";
    },

    switch_page(a) {
      this.active = a;
      this.$emit("pageSwitch", this.active);
    },
    lArrow() {
      if (this.active > 1) {
        this.active--;
      } else if (this.active === 1) {
        this.active = 4;
      }

      this.$emit("pageSwitch", this.active);
    },
    rArrow() {
      if (this.active < 4) {
        this.active++;
      } else if (this.active === 4) {
        this.active = 1;
      }

      this.$emit("pageSwitch", this.active);
    },
  },
};
</script>

<style lang="scss" scoped>
.footer {
  display: none;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 0);
  color: #fff;
  // display: flex;

  p {
    font-size: 10px;
    margin: 0 10px;
    opacity: 0.6;
    cursor: pointer;
    transition: all 100ms ease-out;

    &.sel {
      margin: 0 15px;
      opacity: 1;
      transition: all 100ms ease-out;
    }
    &:not(.sel) {
      &:hover {
        opacity: 0.9;
      }
    }
  }

  .arrow {
    transform: scale(0.7);
    margin: 0 10px;
    opacity: 0.6;
    cursor: pointer;
    transition: all 100ms ease-out;

    &:hover {
      opacity: 1;
    }
  }
  .left {
    transform: scale(0.7) rotate(180deg);
  }
}

@media only screen and (min-width: 768px) {
  .footer {
    display: flex;
    p {
      font-size: 16px;
    }
    .arrow {
      transform: scale(01);
    }
    .left {
      transform: scale(1) rotate(180deg);
    }
  }
}
</style>