<template>
  <div id="app">
    <img src="@/assets/swiss_logo.png" class="logo" alt />
    <div id="nav">
      <!-- <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>-->
      <a href="#">HOME</a>
      <a href="#">STAY</a>
      <a href="#">DESTINATION</a>
      <a href="#">CONTACT</a>
    </div>
    <router-view />
  </div>
</template>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #000;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.logo {
  transform: scale(0.7);
  position: fixed;
  top: 40px;
  left: 5vw;
}

#nav {
  position: fixed;
  top: 50px;
  right: 5vw;
  z-index: 10;

  // padding: 30px;

  a {
    font-family: "Lato", sans-serif;

    color: #ffffff;
    opacity: 0.7;
    font-size: 10px;
    text-decoration: none;
    padding: 10px;
    transition: all 250ms ease-out;

    &:hover {
      opacity: 1;
    }

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

@media only screen and (min-width: 768px) {
  .logo {
    transform: scale(1);
    left: 60px;
  }
  #nav {
    right: 100px;

    a {
      font-size: 16px;
    }
  }
}
</style>
